@font-face {
    font-family: uscl;
    src: url(../fonts/uscl.woff2) format('woff2'),
        url(../fonts/uscl.ttf) format('truetype'),
        url(../fonts/uscl.woff) format('woff'),
        url(../fonts/uscl.svg#uscl) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" ico_uscl-"],
[class^=ico_uscl-] {
    font-family: uscl !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ico_uscl-pinterest:before {
    content: "\e90b"
}

.ico_uscl-vk:before {
    content: "\e90a"
}

.ico_uscl-fb:before {
    content: "\e901"
}

.ico_uscl-twi:before {
    content: "\e909"
}

.ico_uscl-gPlus:before {
    content: "\e902"
}

.ico_uscl-ok:before {
    content: "\e905"
}

.ico_uscl-mail:before {
    content: "\e904"
}

.ico_uscl-lj:before {
    content: "\e903"
}

.ico_uscl-lin:before {
    content: "\e911"
}

.ico_uscl-tumblr:before {
    content: "\e915"
}

.ico_uscl-vi:before,
.ico_uscl-viber:before {
    content: "\e918"
}

.ico_uscl-wa:before,
.ico_uscl-whatsapp:before {
    content: "\e919"
}

.ico_uscl-instagram:before {
    content: "\e912"
}

.ico_uscl-youtube:before {
    content: "\e916"
}

.ico_uscl-email:before {
    content: "\e907"
}

.ico_uscl-telegram:before {
    content: "\e910"
}

.ico_uscl-reddit:before {
    content: "\e931"
}

.ico_uscl-sms:before {
    content: "\e913"
}

.ico_uscl-spoiler:before {
    content: "\e908"
}

.ico_uscl-bookmarks:before {
    content: "\e90c"
}

.ico_uscl-print:before {
    content: "\e906"
}

.ico_uscl-heart:before {
    content: "\e91a"
}

.ico_uscl-heart-o:before {
    content: "\e91b"
}

.ico_uscl-ulike:before {
    content: "\e92a"
}

.ico_uscl-ulike-o:before {
    content: "\e92b"
}

.ico_uscl-like:before {
    content: "\e90d"
}

.ico_uscl-up-arrow:before {
    content: "\e90f"
}

.ico_uscl-arrow:before {
    content: "\e900"
}

.ico_uscl-close:before {
    content: "\e914"
}

.share-buttons-container {
    &>* {
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .buttons {
        display: flex;
        align-items: center;

        .button {
            padding: 5px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                width: 48px;
                height: 48px;
                color: #fff;
                font-size: 28px;
                line-height: 48px;
                text-decoration: none;

                &.fb {
                    background-color: #3B5998;

                    &:hover {
                        background-color: lighten(#3B5998, 10);
                    }
                }

                &.wp {
                    background-color: #25d366;

                    &:hover {
                        background-color: lighten(#25d366, 10);
                    }
                }

                &.tw {
                    background-color: #55ACEE;

                    &:hover {
                        background-color: lighten(#55ACEE, 10);
                    }
                }

                &.ln {
                    background-color: #0077b5;

                    &:hover {
                        background-color: lighten(#0077b5, 10);
                    }
                }

                &.tg {
                    background-color: #37AEE2;

                    &:hover {
                        background-color: lighten(#37AEE2, 10);
                    }
                }
            }
        }
    }
}